.DS_Store
decoherence/__pycache__/decoherence.cpython-37.pyc
qaoaoqs_v1/__pycache__/__init__.cpython-37.pyc
qaoaoqs_v1/__pycache__/Dynamics.cpython-37.pyc
qaoaoqs_v1/__pycache__/tools.cpython-37.pyc
result_analysis/__pycache__/analysis.cpython-37.pyc
result_analysis/__pycache__/protocol_check.cpython-37.pyc
result_analysis/__pycache__/result.cpython-37.pyc
result_analysis/__pycache__/tools.cpython-37.pyc
tests/.DS_Store
