.DS_Store
decoherence/__pycache__/decoherence.cpython-37.pyc
qaoaoqs_v1/__pycache__/__init__.cpython-37.pyc
qaoaoqs_v1/__pycache__/Dynamics.cpython-37.pyc
qaoaoqs_v1/__pycache__/tools.cpython-37.pyc
result_analysis/__pycache__/analysis.cpython-37.pyc
result_analysis/__pycache__/protocol_check.cpython-37.pyc
result_analysis/__pycache__/result.cpython-37.pyc
result_analysis/__pycache__/tools.cpython-37.pyc
tests/.DS_Store
qaoaoqs.egg-info/dependency_links.txt
qaoaoqs.egg-info/PKG-INFO
qaoaoqs.egg-info/requires.txt
qaoaoqs.egg-info/SOURCES.txt
qaoaoqs.egg-info/top_level.txt
qaoaoqs/__pycache__/__init__.cpython-37.pyc
qaoaoqs/__pycache__/Dynamics.cpython-37.pyc
qaoaoqs/__pycache__/tools.cpython-37.pyc
qaoaoqs/__pycache__/quantum_manager.cpython-37.pyc
qaoaoqs/__pycache__/sys_setup.cpython-37.pyc
.gitignore
